# Civil 774 - Smart Infrastructure Analytics

## Pandas exercise


### Step 1. Import the necessary libraries

### Step 2. Load the `nz_cars.csv` data in the Data folder, use `OBJECID` as index

### Step 3. See the first 5 entries

### Step 4. See the first 25 entries

### Step 5. See the last 10 entries

### Step 6. What is the number of observations in the dataset?

### Step 7. What is the number of columns in the dataset?

### Step 8. Print the name of all the columns.

### Step 9. What is the data type of each column?

### Step 10. Print only the MAKE column

### Step 11. How many different car makes are in this dataset?

### Step 12. What is the most frequent make of the cars?

### Step 13. Summarise the DataFrame.

### Step 14. Summarise only the MAKE column

### Step 15. What is the mean CC_RATING of cars?

### Step 16. What is the CC_RATING with least occurrence?

## Step 17. Sort the cars ascending by CC_RATING, then FIRST_NZ_REGISTRATION_YEAR

## Step 18. Filter cars with CC_RATING more than 3000 only

## Step 19. Select the first 7 columns

## Step 20. Select all columns except the last 3.

In [ ]:
# Hints: use negative to exclude the last 3 columns

## Step 21. Present only the BODY_TYPE from Toyota, Honda and Holden

## Step 22. Estimate the percentage of Toyota cars versus other cars

## Step 23. Estimate the minimum CC_RATING of each car make

## Step 24. For each car make present the percentage of hatchback cars

In [ ]:
#Hints: we filter the cars with BODY_TYPE = 'HATCHBACK', then group them by the MAKE and then count them

## Step 26. What is the median CC_RATING for each car make?

## Step 25. Delete the column `SUBMODEL` and `TLA`